@charset "UTF-8";

/* Main column width */
.wp-block {
    max-width: 730px;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"], .wp-block.alignwide {
    max-width: 1080px;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"], .wp-block.alignfull {
    max-width: none;
}

/**
 *  Body Font
 *  ---------
 */
body {
    font-family: 'Work Sans', sans-serif;
    font-size: 0.95rem;
    font-weight: 400;
    color: #444444;
    overflow-x: hidden;
}

.editor-styles-wrapper h1, 
.editor-styles-wrapper h2, 
.editor-styles-wrapper h3, 
.editor-styles-wrapper h4, 
.editor-styles-wrapper h5, 
.editor-styles-wrapper h6 {
    font-family: 'Inter', sans-serif;
    color: #121212;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
.editor-styles-wrapper h1{
    font-size: 2.5rem;
}
.editor-styles-wrapper h2 {
    font-size: 1.875rem;
}
.editor-styles-wrapper h3 {
    font-size: 1.25rem;
}
.editor-styles-wrapper h4 {
    font-size: 1.125rem;
}
.editor-styles-wrapper h5 {
    font-size: 1rem;
}
.editor-styles-wrapper h6 {
    font-size: 0.875rem;
}


/**
 *  Heading
 *  -------
 */
.editor-post-title .editor-post-title__input{
    font-size: 2.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 1.2;
}
.editor-styles-wrapper p {
    margin: revert;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.95rem;
    font-weight: 400;
    color: #444444;
    line-height: 1.7;
}

/**
 *  Editor Support
 *  --------------
 */
.has-sdweddingdirectory-default-color-color{ color: var( --sdweddingdirectory-color-orange, #f48f00 ) } 
.has-sdweddingdirectory-default-color-background-color{ background-color: var( --sdweddingdirectory-color-orange, #f48f00 ) }
.has-sdweddingdirectory-primary-color-color{ color: var( --sdweddingdirectory-color-cyan, #00aeaf ) } 
.has-sdweddingdirectory-primary-color-background-color{ background-color: var( --sdweddingdirectory-color-cyan, #00aeaf ) }
.has-sdweddingdirectory-black-color-color{ color: #000000 } 
.has-sdweddingdirectory-black-color-background-color{ background-color: #000000 }
.has-sdweddingdirectory-dark-gray-color-color{ color: #302d34 } 
.has-sdweddingdirectory-dark-gray-color-background-color{ background-color: #302d34 }
.has-sdweddingdirectory-black-variant-color-color{ color: #252428 } 
.has-sdweddingdirectory-black-variant-color-background-color{ background-color: #252428 }
.has-sdweddingdirectory-teal-dark-color-color{ color: var( --sdweddingdirectory-color-teal, #005b5c ) } 
.has-sdweddingdirectory-teal-dark-color-background-color{ background-color: var( --sdweddingdirectory-color-teal, #005b5c ) }
.has-sdweddingdirectory-light-gray-color-color{ color: #f8f8f9 } 
.has-sdweddingdirectory-light-gray-color-background-color{ background-color: #f8f8f9 }

b, strong {
    font-weight: bolder;
}

.wp-block-button__link{
    color: #fff;
    background-color: var( --sdweddingdirectory-color-cyan, #00aeaf );
    border-color: var( --sdweddingdirectory-color-cyan, #00aeaf );
}

.wp-block-button__link:hover{
    color: #fff;
    background-color: var( --sdweddingdirectory-color-dark-cyan, #009091 );
    border-color: var( --sdweddingdirectory-color-dark-cyan, #009091 );    
}
.editor-styles-wrapper a {
    transition: none;
    color: var( --sdweddingdirectory-color-cyan, #00aeaf );
    text-decoration: none;
}

.block-editor-block-list__block.wp-block-image.size-full.wp-image-906 a{
    color: #000;
    font-weight: 600;

}
.edit-post-visual-editor .wp-block-button .wp-block-button__link{
    border-radius: 4px;
}
.edit-post-visual-editor .alignleft {
    float: left;
    margin-right: 1.75em;
}

.edit-post-visual-editor blockquote.wp-block-quote:not(.is-style-large) {
    color: #152035;
    background-color: #ffffff;
    border: none;
    border-left: 6px solid var( --sdweddingdirectory-color-orange, #f48f00 );
    padding: 20px;
    margin: 1.1em 0 1.1em 0;
    position: relative;
    overflow-wrap: break-word;
}
.edit-post-visual-editor .wp-block-image figcaption, 
.edit-post-visual-editor figure figcaption{
    font-size: 15px !important;
    padding: 15px 11px 15px 10px !important;
    position: absolute;
    z-index: 1;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 17px;
    line-height: 20px;
    /* font-weight: 600; */
    font-style: normal;
    -webkit-transition: margin-bottom 0.3s ease;
    -ms-transition: margin-bottom 0.3s ease;
    -o-transition: margin-bottom 0.3s ease;
    transition: margin-bottom 0.3s ease;
    margin-bottom: 0;
    text-align: center;
    padding: 15px 10px;
    letter-spacing: 0;
    overflow-y: auto;
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    max-height: 70%;
    overflow: scroll;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    padding: 15px 10px;
    /* font-weight: 600; */
    color: #ffffff;
    background-color: var( --sdweddingdirectory-color-rgba-orange, rgba(244, 143, 1, 0.8) );
    position: absolute;
    opacity: 1;
    transition: all 0.3s ease;
    bottom: 0px;
    width: 100%;
}
.edit-post-visual-editor blockquote.wp-block-quote:not(.is-style-large){
    color: #152035;
    background-color: #ffffff;
    border: none;
    border-left: 6px solid var( --sdweddingdirectory-color-orange, #f48f00 );
    padding: 20px;
    background: transparent !important;
    position: relative;
    font-size: 1.5rem;
    border-radius: 7px;
    font-style: italic;
    box-shadow: 0.1px 0.33px 3px 0px rgb(0 0 0 / 15%);
}
.edit-post-visual-editor blockquote.wp-block-quote:not(.is-style-large) p{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-style: italic;
    color: #152035;
}
.edit-post-visual-editor blockquote.wp-block-quote:not(.is-style-large) cite{
    color: currentColor;
    font-size: .8125em;
    position: relative;
    font-style: normal;
}

.editor-styles-wrapper ol li, 
.editor-styles-wrapper ul li{
    margin: 10px 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.95rem;
    font-weight: 400;
    color: #444444;
}

.edit-post-visual-editor blockquote.wp-block-quote.has-text-align-right:not(.is-style-large) {
    margin: 0 auto;
}

.edit-post-visual-editor blockquote p{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em;
    line-height: 1.6;
}
.edit-post-visual-editor blockquote cite{
    text-transform: none;
    font-style: normal;
    font-size: .8125em;
    color: currentColor;
}


.edit-post-visual-editor .wp-block-quote.is-style-large{
    background: #fff;
    border: none;
    position: relative;
    font-size: 1.25rem;
    padding: 2rem 2rem 2rem 5rem;
    line-height: 1.4;
    border-radius: 7px;
    font-style: italic;
    background-color: var( --sdweddingdirectory-color-cyan, #00aeaf );
    color: white;
    margin: 2.1em 0 2.1em 0;
}
.edit-post-visual-editor blockquote:before{
    position: absolute;
    font-size: 4rem;
    font-style: normal;
    font-family: "FontAwesome";
    content: "\f10d";
    left: 30px;
    top: 10px;
    color: #fff;
    opacity: 0.2;
    font-weight: 900;
    background: transparent;
    width: auto;
}
.edit-post-visual-editor blockquote p,
.edit-post-visual-editor blockquote cite,
.edit-post-visual-editor .wp-block-pullquote.is-style-solid-color .wp-block-pullquote__citation{
    color: #ffffff;
}
.edit-post-visual-editor blockquote p{
    margin-bottom: 1rem;
}

.edit-post-visual-editor blockquote.wp-block-quote:not(.is-style-large):before{
    display: none;
}

.edit-post-visual-editor .wp-block-pullquote:not(.is-style-solid-color){
    background: #fff;
    border: none;
    position: relative;
    font-size: 15px;
    padding: 2rem 2rem 2rem 5rem;
    line-height: 1.4;
    border-radius: 7px;
    font-style: italic;
    background-color: var( --sdweddingdirectory-color-cyan, #00aeaf );
    color: white;
    font-weight: 100;
    text-align: left;
}
:root .editor-styles-wrapper .has-cyan-bluish-gray-background-color blockquote:before{
    display: none;
}

:root .editor-styles-wrapper .has-cyan-bluish-gray-background-color blockquote p:before{
     position: absolute;
    font-size: 4rem;
    font-style: normal;
    font-family: "FontAwesome";
    content: "\f10d";
    top: 0;
    color: #fff;
    opacity: 0.2;
    font-weight: 900;
    background: transparent;
    width: auto;
    display: inherit;
    margin-left: -49px;
    margin-top: 29px;
}

.edit-post-visual-editor p[style*="font-size:"], .edit-post-visual-editor .has-large-font-size{
    line-height: 1.2em;
}
.editor-styles-wrapper .has-large-font-size {
    font-size: 36px;
}

.edit-post-visual-editor figcaption, 
.edit-post-visual-editor figure.wp-block-video figcaption, 
.edit-post-visual-editor figure.wp-block-embed figcaption,
.edit-post-visual-editor figure figcaption.blocks-gallery-caption {
    position: relative;
    width: 100%;
    margin-bottom: 1.5em;
}

.editor-styles-wrapper select{
    border: none;
    box-shadow: none;
    font-size: 0.9375rem;
    border: 1px solid #f0f0f0;
    outline: none;
    color: #5b5b5b;
    background-color: #f8f8f9;
    height: auto;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.wp-block-quote.is-style-large cite{
    text-align: left;
}
figcaption.block-editor-rich-text__editable.rich-text br {
    display: none;
}

.wp-calendar-nav .wp-calendar-nav-prev a, 
.widget_calendar td#prev a {
    text-decoration: none;
}
.wp-block-calendar .wp-calendar-nav{
    text-align: left;
}
.wp-calendar-nav .wp-calendar-nav-next a {
    float: right;
}
.wp-calendar-table caption {
    text-align: center;
}

.gallery, .wp-block-search, .wp-block-archives, .wp-block-categories, .wp-block-calendar{
    margin-bottom: 1.5em;
}
.wp-block-calendar a{
    text-decoration: none;
}
.calendar_wrap table,
.wp-calendar-table table{
    margin-bottom: 0px;
}

table:not(.table-faqs) th, .wp-block-calendar table:not(.table-faqs) th {
    background: var( --sdweddingdirectory-color-orange, #f48f00 );
    color: #ffffff;
    font-weight: 600;
}
.wp-block-calendar table, .wp-block-calendar table th, .wp-block-calendar table td, table, th, td {
    border: 1px solid #d1d1d1;
}
table th, table td, .wp-block-calendar table th, .wp-block-calendar table td {
    padding: 10px;
    vertical-align: top;
    text-align: left;
    line-height: 18px;
    font-weight: 500;
    border-color: #dadada;
    text-align: center;
}
caption {
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #6c757d;
    text-align: left;
    caption-side: bottom;
}
.wp-calendar-table caption {
    text-align: center;
}
.wp-block-calendar table caption, .wp-block-calendar table tbody {
    color: #40464d;
}
ul.wp-block-rss,
ul.wp-block-archives {
    padding-left: 1.5em;
}

.wp-block-tag-cloud a{
    background-color: #f8f8f9;
    margin-bottom: 7px;
    margin-right: 4px;
    padding: 0.5rem 1rem;
    color: #27304b;
    display: inline-block;
    font-size: 0.87rem !important;
    font-weight: 600;
    border-radius: 3px;
}
.wp-block-tag-cloud a:hover{
    background: var( --sdweddingdirectory-color-cyan, #00aeaf );
    color: white;
}
.wp-block-search .wp-block-search__button.wp-block-search__button.wp-block-search__button{
    color: #fff;
    background-color: var( --sdweddingdirectory-color-cyan, #00aeaf );
    border-color: var( --sdweddingdirectory-color-cyan, #00aeaf );
    padding: 20px 15px;
}
.wp-block-search .wp-block-search__input {
    padding: 8px;
    color: #596172;
    border-color: #ebebeb;
    background-color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5em;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0px;
    outline: 0;
}
.wp-block-search .wp-block-search__label{
    display: none;
}
.editor-styles-wrapper select{
    box-shadow: none;
    font-size: 0.9375rem;
    border: 1px solid #f0f0f0;
    outline: none;
    height: auto;
    padding: 1rem 1rem;
    border-radius: 5px;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    color: #596172;
    border-color: #ebebeb;
    background-color: #ffffff;
    position: relative;
    border-radius: 5px;
}
.edit-post-visual-editor .wp-block-separator.is-style-dots:before {
    content: '.....................................';
    font-family: "fontello";
    color: #000000;
    font-size: 21px;
    letter-spacing: 7.35px;
    padding-left: 2px;
    font-weight: 300;
}
.is-style-outline>.wp-block-button__link:not(.has-background){
    color: var( --sdweddingdirectory-color-cyan, #00aeaf );
    background-color: transparent;
    border-color: var( --sdweddingdirectory-color-cyan, #00aeaf );
}
.is-style-outline>.wp-block-button__link:not(.has-background):hover{
    color: var( --sdweddingdirectory-color-dark-cyan, #009091 );
    background-color: transparent;
    border-color: var( --sdweddingdirectory-color-dark-cyan, #009091 );
}

.edit-post-visual-editor pre.wp-block-code{
    color: #333333;
    background-color: #f7f8fa;
    border-color: #ededed;
}
.edit-post-visual-editor pre{
    display: block;
    font-size: 87.5%;
    color: #212529;
}

figure.wp-block-table figcaption{
    position: relative;
}
.wp-block-freeform.block-library-rich-text__tinymce blockquote{
    border: none;
    padding: 3.5rem 2rem 1.5rem 2rem;
    margin: 0 0 30px 0;
    position: relative;
    border-radius: 7px;
    background: #FFF;
    box-shadow: 0.1px 0.33px 3px 0px rgb(0 0 0 / 15%);
}
.wp-block-freeform.block-library-rich-text__tinymce blockquote p{
    font-size: 1.5rem;
    font-style: italic;
    color: #333333;
}
.wp-block-freeform.block-library-rich-text__tinymce blockquote:before{
    content: "";
    position: absolute;
    left: 2rem;
    top: 2.5rem;
    width: 70px;
    height: 1px;
    color: #47bdcc;
    background-color: var( --sdweddingdirectory-color-orange, #f48f00 );
    opacity: 1;
}
.wp-block-freeform.block-library-rich-text__tinymce code{
    font-size: inherit;
    overflow: auto;
    max-width: 100%;
    padding: 0 1em;
    border: 1px solid #888;
    display: inline-block;
    vertical-align: middle;
    word-wrap: break-word;
    color: #333333;
    background-color: #f7f8fa;
    border-color: #ededed;
}
.wp-block-freeform.block-library-rich-text__tinymce a{
    color: var( --sdweddingdirectory-color-cyan, #00aeaf );
}
.edit-post-visual-editor dt{
    font-weight: 700;
    line-height: 1.7;
}
.edit-post-visual-editor dd {
    margin-left: 1.5em;
    line-height: 1.7;
}
.edit-post-visual-editor dd {
    margin-bottom: .5rem;
    line-height: 1.7;
}
.wp-block-freeform.block-library-rich-text__tinymce ul,
.wp-block-freeform.block-library-rich-text__tinymce ol{
    padding-left: 1.5rem;
}
.edit-post-visual-editor address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.95rem;
    font-weight: 400;
    color: #444444;
}
.wp-block-freeform.block-library-rich-text__tinymce pre{
    display: block;
    font-size: 87.5%;
    color: #212529;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    line-height: 1.7;
    font-weight: 400;
    text-align: left;
    background-color: #fff;
}
.edit-post-visual-editor .wp-caption .wp-caption-dd{
    font-size: 15px !important;
    padding: 15px 11px 15px 10px !important;
    position: absolute;
    z-index: 1;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 17px;
    line-height: 20px;
    /* font-weight: 600; */
    font-style: normal;
    -webkit-transition: margin-bottom 0.3s ease;
    -ms-transition: margin-bottom 0.3s ease;
    -o-transition: margin-bottom 0.3s ease;
    transition: margin-bottom 0.3s ease;
    margin-bottom: 0;
    text-align: center;
    padding: 15px 10px;
    letter-spacing: 0;
    overflow-y: auto;
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    max-height: 70%;
    overflow: scroll;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    padding: 15px 10px;
    /* font-weight: 600; */
    color: #ffffff;
    background-color: var( --sdweddingdirectory-color-rgba-orange, rgba(244, 143, 1, 0.8) );
    position: absolute;
    opacity: 1;
    transition: all 0.3s ease;
    bottom: 0px;
    width: 100%;
}
.edit-post-visual-editor .aligncenter{
    display: block;
    clear: both;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
}
.mce-content-body {
    line-height: 1.3;
}
.edit-post-visual-editor .wp-caption{
    position: relative;
}
.mce-content-body table{
    border: 1px solid #d1d1d1;
    width: 100%;
    font-size: 14px;
}
.mce-content-body table td, .mce-content-body table th + td, .mce-content-body table td + td {
    color: #596172;
}
.mce-content-body table > tbody > tr > td {
    text-align: center;
}
.mce-content-body table>tbody>tr:nth-child(2n+1)>td {
    background-color: #fcfcfc;
}
.mce-content-body table td, .mce-content-body table th, .mce-content-body table tr{
    border: 1px solid #d1d1d1;
    padding: 10px;
    vertical-align: top;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
}
.edit-post-visual-editor figure.wp-block-audio figcaption {
    position: relative;
}
.wp-block-categories ul {
    padding-left: 1.5rem;
}
.edit-post-visual-editor .wp-block-pullquote.alignfull{
    max-width: 100%;
}


figure.wp-block-pullquote.is-style-solid-color {
    background-color: #abb8c3;
}


.edit-post-visual-editor .wp-block-cover {
    max-width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.edit-post-visual-editor .wp-block-cover {
    color: #fff;
}

.editor-styles-wrapper .wp-block {
    margin-left: auto;
    margin-right: auto;
}
.block-editor-block-list__layout .block-editor-block-list__block {
    position: relative;
    overflow-wrap: break-word;
}
.edit-post-visual-editor figure, .edit-post-visual-editor .wp-caption, .edit-post-visual-editor .wp-caption-overlay .wp-caption {
    border: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    max-width: 100%;
}
.wp-block-cover-image .wp-block-cover-image-text, 
.wp-block-cover .wp-block-cover-text, 
section.wp-block-cover-image>h2 {
    font-size: 2em;
    line-height: 1.25;
    z-index: 1;
    margin-bottom: 0;
    max-width: 840px;
    padding: 0.44;
    text-align: center;
}

.edit-post-visual-editor .wp-block[data-align="wide"], 
.edit-post-visual-editor.post-type-page .wp-block[data-align="wide"] {
    max-width: 88% !important;
}
.edit-post-visual-editor blockquote{
    padding: 20px;
}

.edit-post-visual-editor .wp-block-separator{
    max-width: 5em;
    margin: 3rem 0;
}
.edit-post-visual-editor .wp-block-separator.is-style-wide {
    max-width: 100%;
}
.edit-post-visual-editor .wp-block-separator.is-style-dots {
    text-align: left;
    max-width: 50%;
    height: 14px;
    line-height: 10px;
    overflow: hidden;
}
.edit-post-visual-editor pre {
    overflow: auto;
    max-width: 100%;
}