@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7qz3vb');
  src:  url('fonts/icomoon.eot?7qz3vb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7qz3vb') format('truetype'),
    url('fonts/icomoon.woff?7qz3vb') format('woff'),
    url('fonts/icomoon.svg?7qz3vb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-down:before {
  content: "\e900";
}
.icon-arrow-up:before {
  content: "\e901";
}
.icon-ballon-heart:before {
  content: "\e902";
}
.icon-beach-see:before {
  content: "\e903";
}
.icon-beach-sun:before {
  content: "\e904";
}
.icon-beach-villa:before {
  content: "\e905";
}
.icon-bell:before {
  content: "\e906";
}
.icon-birde:before {
  content: "\e907";
}
.icon-bohemian-1:before {
  content: "\e908";
}
.icon-bohemian-2:before {
  content: "\e909";
}
.icon-bohemian-3:before {
  content: "\e90a";
}
.icon-bohemian-4:before {
  content: "\e90b";
}
.icon-bohemian-5:before {
  content: "\e90c";
}
.icon-bookmark-o:before {
  content: "\e90d";
}
.icon-bow-tie-1:before {
  content: "\e90e";
}
.icon-bow-tie-2:before {
  content: "\e90f";
}
.icon-bow-tie-3:before {
  content: "\e910";
}
.icon-bow-tie-4:before {
  content: "\e911";
}
.icon-breach-2:before {
  content: "\e912";
}
.icon-bridal-wear:before {
  content: "\e913";
}
.icon-budget:before {
  content: "\e914";
}
.icon-building:before {
  content: "\e915";
}
.icon-bus:before {
  content: "\e916";
}
.icon-cake-floor:before {
  content: "\e917";
}
.icon-cake-stand:before {
  content: "\e918";
}
.icon-cake:before {
  content: "\e919";
}
.icon-calendar-heart:before {
  content: "\e91a";
}
.icon-camera-alt:before {
  content: "\e91b";
}
.icon-camera:before {
  content: "\e91c";
}
.icon-camera1:before {
  content: "\e91d";
}
.icon-cap-2:before {
  content: "\e91e";
}
.icon-cap:before {
  content: "\e91f";
}
.icon-casual-1:before {
  content: "\e920";
}
.icon-casual-2:before {
  content: "\e921";
}
.icon-casual-3:before {
  content: "\e922";
}
.icon-casual-4:before {
  content: "\e923";
}
.icon-casual-5:before {
  content: "\e924";
}
.icon-casual-6:before {
  content: "\e925";
}
.icon-chat:before {
  content: "\e926";
}
.icon-check-1:before {
  content: "\e927";
}
.icon-check-3:before {
  content: "\e928";
}
.icon-check-4:before {
  content: "\e929";
}
.icon-check-5:before {
  content: "\e92a";
}
.icon-check:before {
  content: "\e92b";
}
.icon-checklist:before {
  content: "\e92c";
}
.icon-chevron-left:before {
  content: "\e92d";
}
.icon-church:before {
  content: "\e92e";
}
.icon-circle-table-1:before {
  content: "\e92f";
}
.icon-comments:before {
  content: "\e930";
}
.icon-cup-cakes:before {
  content: "\e931";
}
.icon-cutlery:before {
  content: "\e932";
}
.icon-dashboard:before {
  content: "\e933";
}
.icon-dove:before {
  content: "\e934";
}
.icon-elegant-1:before {
  content: "\e935";
}
.icon-elegant-2:before {
  content: "\e936";
}
.icon-elegant-3:before {
  content: "\e937";
}
.icon-elegant-4:before {
  content: "\e938";
}
.icon-envelope-o:before {
  content: "\e939";
}
.icon-minus:before {
  content: "\e93a";
}
.icon-fall-2:before {
  content: "\e93b";
}
.icon-fall-3:before {
  content: "\e93c";
}
.icon-fall:before {
  content: "\e93d";
}
.icon-fashion:before {
  content: "\e93e";
}
.icon-female:before {
  content: "\e93f";
}
.icon-florist:before {
  content: "\e940";
}
.icon-flowers:before {
  content: "\e941";
}
.icon-four-side-table-1:before {
  content: "\e942";
}
.icon-four-side-table-2:before {
  content: "\e943";
}
.icon-gender:before {
  content: "\e944";
}
.icon-glam-1:before {
  content: "\e945";
}
.icon-glam-2:before {
  content: "\e946";
}
.icon-glam-3:before {
  content: "\e947";
}
.icon-glam-4:before {
  content: "\e948";
}
.icon-glam-5:before {
  content: "\e949";
}
.icon-guest-member:before {
  content: "\e94a";
}
.icon-guestlist:before {
  content: "\e94b";
}
.icon-guitar:before {
  content: "\e94c";
}
.icon-hanging-heart:before {
  content: "\e94d";
}
.icon-heart-double-alt:before {
  content: "\e94e";
}
.icon-heart-double-face:before {
  content: "\e94f";
}
.icon-heart-double:before {
  content: "\e950";
}
.icon-heart-envelope:before {
  content: "\e951";
}
.icon-heart-hand:before {
  content: "\e952";
}
.icon-heart-ring:before {
  content: "\e953";
}
.icon-industrial-1:before {
  content: "\e954";
}
.icon-industrial-2:before {
  content: "\e955";
}
.icon-industrial-3:before {
  content: "\e956";
}
.icon-industrial-4:before {
  content: "\e957";
}
.icon-info-circle:before {
  content: "\e958";
}
.icon-invoice:before {
  content: "\e959";
}
.icon-just-maride-black:before {
  content: "\e95a";
}
.icon-just-maride .path1:before {
  content: "\e95b";
  color: rgb(30, 96, 139);
}
.icon-just-maride .path2:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(247, 238, 226);
}
.icon-just-maride .path3:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(229, 216, 198);
}
.icon-just-maride .path4:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(255, 80, 126);
}
.icon-just-maride .path5:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(255, 80, 126);
}
.icon-just-maride .path6:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(255, 80, 126);
}
.icon-just-maride .path7:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(255, 80, 126);
}
.icon-just-maride .path8:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(255, 80, 126);
}
.icon-just-maride .path9:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(255, 80, 126);
}
.icon-just-maride .path10:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(255, 80, 126);
}
.icon-just-maride .path11:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(255, 80, 126);
}
.icon-just-maride .path12:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(255, 80, 126);
}
.icon-just-maride .path13:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(255, 80, 126);
}
.icon-just-maride .path14:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(255, 80, 126);
}
.icon-just-maride .path15:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(255, 159, 175);
}
.icon-just-maride .path16:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(239, 146, 166);
}
.icon-just-maride .path17:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(255, 159, 175);
}
.icon-just-maride .path18:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(239, 146, 166);
}
.icon-just-maride .path19:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(255, 105, 145);
}
.icon-just-maride .path20:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(255, 80, 126);
}
.icon-location-heart:before {
  content: "\e96f";
}
.icon-location:before {
  content: "\e970";
}
.icon-logout:before {
  content: "\e971";
}
.icon-lolipop-1:before {
  content: "\e972";
}
.icon-lolipop-2:before {
  content: "\e973";
}
.icon-love-bell:before {
  content: "\e974";
}
.icon-love-gift:before {
  content: "\e975";
}
.icon-mail:before {
  content: "\e976";
}
.icon-modern-1:before {
  content: "\e977";
}
.icon-modern-2:before {
  content: "\e978";
}
.icon-modern-3:before {
  content: "\e979";
}
.icon-modern-4:before {
  content: "\e97a";
}
.icon-money-stack:before {
  content: "\e97b";
}
.icon-music:before {
  content: "\e97c";
}
.icon-my-profile:before {
  content: "\e97d";
}
.icon-my-venue:before {
  content: "\e97e";
}
.icon-one-side-table-1:before {
  content: "\e97f";
}
.icon-one-side-table-2:before {
  content: "\e980";
}
.icon-other-table-1:before {
  content: "\e981";
}
.icon-pheras:before {
  content: "\e982";
}
.icon-plane-1:before {
  content: "\e983";
}
.icon-plane-2:before {
  content: "\e984";
}
.icon-plane-3:before {
  content: "\e985";
}
.icon-plane-4:before {
  content: "\e986";
}
.icon-plus:before {
  content: "\e987";
}
.icon-pricing-plans:before {
  content: "\e988";
}
.icon-request-quote:before {
  content: "\e989";
}
.icon-reviews:before {
  content: "\e98a";
}
.icon-ring-double:before {
  content: "\e98b";
}
.icon-romantic-1:before {
  content: "\e98c";
}
.icon-romantic-2:before {
  content: "\e98d";
}
.icon-romantic-3:before {
  content: "\e98e";
}
.icon-romantic-4:before {
  content: "\e98f";
}
.icon-romantic-5:before {
  content: "\e990";
}
.icon-rustic-1:before {
  content: "\e991";
}
.icon-rustic-2:before {
  content: "\e992";
}
.icon-rustic-3:before {
  content: "\e993";
}
.icon-saving-money:before {
  content: "\e994";
}
.icon-search:before {
  content: "\e995";
}
.icon-seating-chart:before {
  content: "\e996";
}
.icon-shopping-bag-heart:before {
  content: "\e997";
}
.icon-sliders:before {
  content: "\e998";
}
.icon-snow:before {
  content: "\e999";
}
.icon-spring:before {
  content: "\e99a";
}
.icon-star:before {
  content: "\e99b";
}
.icon-sun-2:before {
  content: "\e99c";
}
.icon-sun-3:before {
  content: "\e99d";
}
.icon-sun-4:before {
  content: "\e99e";
}
.icon-sun:before {
  content: "\e99f";
}
.icon-support:before {
  content: "\e9a0";
}
.icon-tags:before {
  content: "\e9a1";
}
.icon-tent:before {
  content: "\e9a2";
}
.icon-tiktok-icon-1:before {
  content: "\e9a3";
}
.icon-tiktok-icon-2:before {
  content: "\e9a4";
}
.icon-tiktok-icon-3:before {
  content: "\e9a5";
}
.icon-tiktok-icon-4:before {
  content: "\e9a6";
}
.icon-tiktok-icon-5:before {
  content: "\e9a7";
}
.icon-two-side-table-1:before {
  content: "\e9a8";
}
.icon-two-side-table-2:before {
  content: "\e9a9";
}
.icon-two-side-table-3:before {
  content: "\e9aa";
}
.icon-two-side-table-4:before {
  content: "\e9ab";
}
.icon-two-side-table-5:before {
  content: "\e9ac";
}
.icon-two-side-table-6:before {
  content: "\e9ad";
}
.icon-two-side-table-7:before {
  content: "\e9ae";
}
.icon-user-1:before {
  content: "\e9af";
}
.icon-user-2:before {
  content: "\e9b0";
}
.icon-user-circle:before {
  content: "\e9b1";
}
.icon-user-o:before {
  content: "\e9b2";
}
.icon-user:before {
  content: "\e9b3";
}
.icon-vendor-manager:before {
  content: "\e9b4";
}
.icon-vendor-truck:before {
  content: "\e9b5";
}
.icon-venue:before {
  content: "\e9b6";
}
.icon-videographer:before {
  content: "\e9b7";
}
.icon-vintage-1:before {
  content: "\e9b8";
}
.icon-vintage-2:before {
  content: "\e9b9";
}
.icon-vintage-3:before {
  content: "\e9ba";
}
.icon-vintage-4:before {
  content: "\e9bb";
}
.icon-water-drop-2:before {
  content: "\e9bc";
}
.icon-water-drop-3:before {
  content: "\e9bd";
}
.icon-water-drop:before {
  content: "\e9be";
}
.icon-website:before {
  content: "\e9bf";
}
.icon-wine:before {
  content: "\e9c0";
}
.icon-winter:before {
  content: "\e9c1";
}
.icon-x-icon-1:before {
  content: "\e9c2";
}
.icon-x-icon-2:before {
  content: "\e9c3";
}
.icon-x-icon-3 .path1:before {
  content: "\e9c4";
  color: rgb(0, 0, 0);
}
.icon-x-icon-3 .path2:before {
  content: "\e9c5";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-x-icon-4:before {
  content: "\e9c6";
}
.icon-x-icon-5 .path1:before {
  content: "\e9c7";
  color: rgb(65, 70, 74);
}
.icon-x-icon-5 .path2:before {
  content: "\e9c8";
  margin-left: -1em;
  color: rgb(240, 240, 241);
}
